.AppLayout {
  width: 36rem;
  height: 100vh;
  background-color: var(--primary-background);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr;
  gap: 4rem;
  & main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    color: #fff;
    overflow: scroll;
  }
}
