/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */

:root {
  /* App */
  --primary-background: #19274a;

  /* <Button/> */
  --primary-btn-background-color: #ef4343;

  /* <Logo/> */
  --primary-logo-background-color: #ef4343;
  --primary-logo-text-color: #082756;

  /* <Message/> */
  --primary-background-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
}
